{% extends "layouts/base.html" %}

{% block title %} Charts Morris {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}

    <link rel="stylesheet" href="/static/assets/plugins/chart-morris/css/morris.css">

{% endblock stylesheets %}

{% block content %}

<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Morris Chart</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Chart</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">Morris Chart</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <!-- [ Main Content ] start -->
                <div class="row">
                    <div class="col-xl-12">
                        <div class="accordion col-xl-12" id="accordionExample">
                            <div class="card">
                                <div class="card-header" id="headingOne">
                                    <h5 class="mb-0"><a href="#!" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span>說明文字</span>
                                       
                                    </a>
                                </h5>
                            </div>
                                <div id="collapseOne" class=" card-body collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                    <span style="font-weight: bold;color:#C00000;font-size:20px;">職缺五：媒體設計類職缺</span>
                                    <p style="line-height:200%;">
                                        <div>
                                            在藝術設計類的實習職缺中，顧主在職位敘述上的雙詞彙文字雲如下，其中出現的詞彙大致上都與以下這二項有關「相關作品經驗、高度配合公司要求」
                                        </dvi>
                                        <ul style="line-height:200%;"> 
                                            <li>
                                                <span style="font-weight: bold;color:#000;font-size:16px;">相關作品經驗：  </span>
                                                <span>「作品集、相關、工作、經驗、熟悉、設計、專案、影片、作品、製作、
                                                    專業、設計師」等強調作品集類的詞彙出現較多，</span>
                                                <span style="font-weight: bold;color:#C00000;">顯示出雇主在招收藝術設計類的實習生
                                                    時，通常偏好有過往經驗、並可提供相關作品集的求職者</span>
                                                <span>。</span>
                                            </li>
                                            <li>
                                                <span style="font-weight: bold;color:#000;font-size:16px;">高度配合公司：</span>
                                                <span>「 比起其他職缺，藝術設計類職缺在配合公司的出現字眼更多，如「協助、
                                                    我們、公司、溝通、配合、提供」等，</span>
                                                <span style="font-weight: bold;color:#2177B4;">亦表現出該職位的特質，期望找到獨立高、但又能
                                                    配合公司、了解公司需求的專業工作者</span>
                                                <span>。
                                                    </span>
                                            </li>
                                        </ul>
                                    <p>
                                    
                                
                            </div>
                        </div>
                    </div>
                    <!-- [ Morris Chart ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>文字雲 (Word Cloud)</h5>
                            </div>
                                {% autoescape off %}
                                {{ plot_div }}
                                {% endautoescape %}
                        </div>
                    </div>
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>雙詞彙長條圖 (Bar Plot)</h5>
                            </div>
                            <div class="card-block">
                                {% autoescape off %}
                                    {{ bar }}
                                {% endautoescape %}
                            </div>
                        </div>
                    </div>
                    {% comment %} <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Line [ Angle ] Chart</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-area-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Area [ Smooth ] Chart</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-area-curved-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Line [ Angle ] Chart</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-line-chart" class="ChartShadow" style="height:300px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Line [ Smooth ] Chart</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-line-smooth-chart" class="ChartShadow" style="height:300px"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="card">
                            <div class="card-header">
                                <h5>Donut Chart</h5>
                            </div>
                            <div class="card-block">
                                <div id="morris-donut-chart" style="height:300px"></div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                    <!-- [ Morris Chart ] end -->
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>


{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/plugins/chart-morris/js/raphael.min.js"></script>
    <script src="/static/assets/plugins/chart-morris/js/morris.min.js"></script>
    <script src="/static/assets/js/pages/chart-morris-custom.js"></script>

{% endblock javascripts %}
