{% extends "layouts/base.html" %}

{% block title %} UI Tables {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}
{% load render_table from django_tables2 %}
{% load querystring from django_tables2%}
<link rel="stylesheet" href="https://www.matrixdecor.eu/static/django_tables2/themes/paleblue/css/screen.css" />

{% block content %}


<div class="pcoded-content">
    <div class="pcoded-inner-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Bootstrap Basic Tables</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="index.html"><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a href="#!">Tables</a></li>
                            <li class="breadcrumb-item"><a href="javascript:">104實習職缺表概覽</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="main-body">
            <div class="page-wrapper">
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <form action="" method="post">
                                    {% csrf_token %}
                                    <div class="input-group col-4">
                                        <input type="text" class="form-control" placeholder="搜尋職缺&更新資料" aria-label="Recipient's username" aria-describedby="basic-addon2" name="search" required>
                                        <div class="input-group-append">
                                            <input class="btn btn-primary" type="submit" value="提交" />
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="row"> 
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5 style="font-weight:bold">104實習職缺表概覽</h5>
                                <span class="d-block m-t-5">文字過長會以 <code>...</code> 表示，另外預先提供Jieba <code>斷詞</code>結果，並可供下載</span>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    {% render_table table %}
                                </div>
                                <br>
                                <a  href="{% querystring '_export'='csv' %}">Download CSV</a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- [ Main Content ] start -->
                

                {% comment %} <div class="row">

                    <!-- [ stiped-table ] start -->
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-header">
                                <h5>Striped Table</h5>
                                <span class="d-block m-t-5">use class <code>table-striped</code> inside table element</span>
                            </div>
                            <div class="card-block table-border-style">
                                <div class="table-responsive">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th>發布日期</th>
                                                <th>{{tt}}</th>
                                                <th>公司名稱</th>
                                                <th>產業類別</th>
                                                <th>職位類別</th>
                                                <th>職缺薪資</th>
                                                <th>薪資</th>
                                                <th>地點</th>
                                                <th>年資要求</th>
                                                <th>學歷要求</th>
                                                <th>特殊要求</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for job in jobs %}
                                            <tr>
                                                <td>{{ job.jobAnnounceDate }}</td>
                                                <td scope="row">
                                                    <a href={{ job.jobDetailUrl }} target="_blank">{{ job.jobTitles }}</a>
                                                </td>
                                                <td>
                                                    <a href={{ job.jobCompanyUrl }} target="_blank">{{ job.jobCompanyName }}</a></td>
                                                <td>{{ job.jobCompanyIndustry }}</td>
                                                <td>{{ job.jobCategory }}</td>
                                                <td>{{ job.jobSalary }}</td>
                                                <td>{{ job.jobLocation }}</td>
                                                <td>{{ job.jobRqYear }}</td>
                                                <td>{{ job.jobRqEducation }}</td>
                                                <td>{{ job.jobRqDepartment }}</td>
                                                <td>{{ job.jobSpecialty }}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- [ stiped-table ] end --> {% endcomment %}
                </div>
                <!-- [ Main Content ] end -->
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
